@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

* {
  margin: 0;
  box-sizing: border-box;
}

:before,
:after {
  box-sizing: border-box;
}

.wrapper {
  padding: 10px 40px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-links li a {
  font-size: 18px;
  color: rgb(46, 44, 44);
  transition: all 0.3s ease-in-out;
}
.nav-links li a:hover {
  color: #f54446;
}

.footer-title {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer-links li {
  list-style: circle;
}
.footer-links li a {
  color: rgb(46, 44, 44);
  transition: all 0.3s ease-out;
}
.footer-links li a:hover {
  color: #f54446;
}
